#polygon{
    position: absolute;
    z-index: -10;
    height: 100dvh;
    width: 100dvw;
    background-color: #ebf1f8;
    top: 0;
    left: 0;
    clip-path: polygon(100% 0%, 0% 0% , 0.00% 65.53%, 2.00% 67.43%, 4.00% 69.27%, 6.00% 71.04%, 8.00% 72.72%, 10.00% 74.30%, 12.00% 75.76%, 14.00% 77.10%, 16.00% 78.31%, 18.00% 79.37%, 20.00% 80.28%, 22.00% 81.03%, 24.00% 81.61%, 26.00% 82.02%, 28.00% 82.27%, 30.00% 82.33%, 32.00% 82.22%, 34.00% 81.94%, 36.00% 81.49%, 38.00% 80.86%, 40.00% 80.07%, 42.00% 79.13%, 44.00% 78.03%, 46.00% 76.79%, 48.00% 75.42%, 50.00% 73.93%, 52.00% 72.33%, 54.00% 70.63%, 56.00% 68.84%, 58.00% 66.99%, 60.00% 65.07%, 62.00% 63.12%, 64.00% 61.14%, 66.00% 59.14%, 68.00% 57.16%, 70.00% 55.19%, 72.00% 53.25%, 74.00% 51.37%, 76.00% 49.55%, 78.00% 47.80%, 80.00% 46.15%, 82.00% 44.61%, 84.00% 43.18%, 86.00% 41.87%, 88.00% 40.71%, 90.00% 39.69%, 92.00% 38.83%, 94.00% 38.12%, 96.00% 37.59%, 98.00% 37.22%, 100.00% 37.03%);;
}